* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

:root {
	--first-color: #f9f9f9;
	--second-color: #14161f;
	--border-color: rgba(0, 0, 0, 0.2);
}

body {
	min-height: 100vh;
	font-family: 'Montserrat', sans-serif;
	background-color: var(--first-color);
	color: var(--second-color);
}

header {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;

	h1 {
		margin-top: 30px;
		margin-bottom: 10px;
		font-weight: 200;
		font-size: 40px;
	}

	p {
		margin-bottom: 50px;
	}
}

.title {
	margin-bottom: 20px;
	text-align: center;
	text-transform: uppercase;
	font-size: 30px;
	font-weight: 200;
}

main {
	display: flex;
	justify-content: space-evenly;
	align-items: flex-start;

	.transactions {
		display: flex;
		flex-direction: column;
		width: 60%;
		// width: 1000px;

		.transaction-list {
			display: flex;
			justify-content: space-around;

			.income-area,
			.expenses-area {
				padding: 20px;
				width: 400px;
				border: 1px solid var(--border-color);
				box-shadow: 0 0 5px var(--border-color);
			}

			.income-area {
				h3 {
					text-align: center;
					color: lightgreen;
				}
				.transaction-amount {
					font-weight: bold;
					color: lightgreen;
				}
			}

			.expenses-area {
				h3 {
					text-align: center;
					color: tomato;
				}
				.transaction-amount {
					font-weight: bold;
					color: tomato;
				}
			}

			h3 {
				margin-bottom: 20px;
			}

			.transaction {
				display: flex;
				justify-content: space-between;
				padding: 10px 0;
				border-bottom: 1px solid var(--border-color);

				.transaction-name {
					i {
						margin-right: 5px;
					}
				}

				.delete {
					margin-left: 5px;
					font-size: 16px;
					background: none;
					border: none;
					color: var(--second-color);
					cursor: pointer;
					transition: transform 0.3s;
				}
				.delete:hover {
					transform: scale(0.8);
				}
			}
			.transaction:last-child {
				border-bottom: none;
			}
		}
	}

	.options {
		margin: 10px;
		padding: 20px;
		display: flex;
		justify-content: center;
		flex-direction: column;
		align-items: center;
		width: 40%;
		// width: 500px;
		border: 1px solid var(--border-color);
		box-shadow: 0 0 5px var(--border-color);

		p {
			text-align: center;
			font-size: 60px;
			margin-bottom: 20px;
		}

		.controls {
			width: 100%;
			display: flex;
			justify-content: space-evenly;

			button {
				margin-bottom: 30px;
				padding: 12px 20px;
				color: var(--second-color);
				border: 1px solid var(--border-color);
				border-radius: 5px;
				background: transparent;
				cursor: pointer;
				transform: color 0.3s, background-color 0.3s;

				i {
					margin-right: 10px;
				}
			}
			button:hover {
				color: var(--first-color);
				background-color: var(--second-color);
			}
		}

		.style-selection {
			.style-btns {
				display: flex;
				justify-content: space-evenly;

				button {
					margin: 0 30px;
					width: 50px;
					height: 50px;
					border-radius: 50%;
					cursor: pointer;
					transition: transform 0.3s;
				}
				button:hover {
					transform: scale(0.9);
				}

				.light {
					background-color: #f9f9f9;
					border: 1px solid #14161f;
				}

				.dark {
					background-color: #14161f;
					border: 1px solid #f9f9f9;
				}
			}
		}
	}
}

.add-transaction-panel {
	display: none;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	color: #fff;
	background-image: linear-gradient(315deg, #4c4177 0%, #2a5470 74%);

	.title {
		margin-bottom: 0;
	}

	label {
		margin-top: 40px;
		margin-bottom: 5px;
		font-size: 26px;
	}

	small {
		margin-bottom: 15px;
		font-style: italic;
		color: #ddd;
	}

	input,
	select {
		width: 80%;
	}

	input,
	select,
	button {
		padding: 10px 20px;
		border: 1px solid black;
		border-radius: 5px;
	}

	input,
	select,
	option {
		font-size: 18px;
	}

	.panel-buttons {
		display: flex;
		justify-content: center;
		margin-top: 30px;

		button {
			margin: 0 30px;
			padding: 15px 40px;
			font-size: 18px;
			color: #fff;
			border: 1px solid #fff;
			background: none;
			cursor: pointer;
			transition: background-color 0.3s;
		}
		button:hover {
			background-color: var(--second-color);
		}
	}
}
